
 <div class="container center">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <h6 *ngIf="failed" > Inncorrect username or password! </h6>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus [(ngModel)]="username" name="username"> 
                <!-- <label for="inputEmail">Username</label> -->
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="password" name="password">
                <!-- <label for="inputPassword">Password</label> -->
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="login()">Sign in</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="center">
<ng-container *ngIf="loggedHuman == null">
    invalid username or password!
</ng-container>

<ng-container >
  <form class="form-signin">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        Username:
        <input type="text" [(ngModel)]="username">
      </li> 
      <li class="nav-item" >
        Password:
        <input type="password" [(ngModel)]="password">
      </li>
      
      <li class="nav-item">
        <button class="btn btn-primary" (click)="login()">Login</button>
      </li>
    </ul>
  </form>
  </ng-container>
</div> -->

