
  <div class="center back">
    <h5 class="title text-center">Login</h5>
    <h6 *ngIf="failed" class="custFail"> Inncorrect username or password! </h6>
    <form class="form-signin">
      <div class="">
        <input type="text" id="inputEmail" class="formSign" placeholder="Username" required autofocus [(ngModel)]="username" name="username"> 
      </div>

      <div class="">
        <input type="password" id="inputPassword" class="formSign" placeholder="Password" required [(ngModel)]="password" name="password">
      </div>

      <div class="custom-control mb-3">
        <input type="checkbox" class="" id="customCheck1">
        <label class=" custLabel" for="customCheck1">Remember password</label>
      </div>
      <button class="butn btn-block" type="submit" (click)="login()">Sign in</button>
    </form>
  </div>
<!-- <div class="center">
<ng-container *ngIf="loggedHuman == null">
    invalid username or password!
</ng-container>

<ng-container >
  <form class="form-signin">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        Username:
        <input type="text" [(ngModel)]="username">
      </li> 
      <li class="nav-item" >
        Password:
        <input type="password" [(ngModel)]="password">
      </li>
      
      <li class="nav-item">
        <button class="btn btn-primary" (click)="login()">Login</button>
      </li>
    </ul>
  </form>
  </ng-container>
</div> -->

