
<div class="container center">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up!</h5>
            <h6 *ngIf="failed" > Username Unavailable! </h6>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus [(ngModel)]="username" name="username"> 
                <!-- <label for="inputEmail">Username</label> -->
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="password" name="password">
                <!-- <label for="inputPassword">Password</label> -->
              </div>

              <div class="form-label-group">
                <input type="text" id="firstName" class="form-control" placeholder="First Name" required [(ngModel)]="firstName" name="firstName">
                <!-- <label for="inputPassword">Password</label> -->
              </div>

              <div class="form-label-group">
                <input type="text" id="lastName" class="form-control" placeholder="Last Name" required [(ngModel)]="lastName" name="lastName">
                <!-- <label for="inputPassword">Password</label> -->
              </div>

              <!-- <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div> -->
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="register_submit">Sign Up!</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="center">
<ng-container >
        <ul  class="navbar-nav mr-auto">
            <li class="nav-item">
                <header>Register A New Account</header>
            </li>
            <li class="nav-item">
                <label for="retister_username">Username</label>
                <input type="text"  [(ngModel)]="username">
            </li>
            <li class="nav-item">
                <label for="register_password">Password</label>
                <input type="password" [(ngModel)]="password">
            </li>
            <li class="nav-item">
                <label for="retister_username">First Name</label>
                <input type="text" [(ngModel)]="firstName">
            </li>
            <li class="nav-item">
                <label for="register_password">Last Name</label>
                <input type="text" [(ngModel)]="lastName">
            </li>
            <li class="nav-item">
                <button id="register_submit">Sign Up!</button>
            </li>
        </ul>
</ng-container >
</div> -->

