<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<div class="container">
    <!-- <ul> <li *ngFor="let bp of backpackItems">{{"Item #" + bp.backpackID + ": " + bp.itemID.name + ": " + bp.itemID.description + " " + bp.stock}}</li></ul> -->
    <!-- <table id="backpackItems" class="table">
        <tr>
            <th>Backpack Item ID</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Rarity</th>
            <th>Stock</th>
        </tr>
    </table> -->
    <table>
        <tr>
            <th>Backpack Item ID</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Rarity</th>
            <th>Stock</th>
        </tr>
        <tr *ngFor="let bp of backpackItems">
            <td> {{ bp.backpackID }} </td>
            <td> {{ bp.itemID.name }} </td>
            <td> {{ bp.itemID.description }} </td>
            <td> {{ bp.itemID.rarity }} </td>
            <td> {{ bp.stock }} </td>
        </tr>
    </table>
</div>