<!-- <div *ngIf="showNav"> -->
<ul id="horizontal">
    <li class="horizontal-li" style="padding: 5px; padding-left: 20px; padding-right: 0px">
        <a (click)="redirectHome()" style="padding: 0px">
            <img src="https://shopheroes.com/assets/images/icons/icon-shop01.png" height="50px" width="50px" style="padding: 0px">
        </a>
    </li>
    <li class="horizontal-li"><a (click)="redirectHome()">The Magic Shop</a></li>
    <li *ngIf="loggedHuman" class="horizontal-li"><a (click)="redirectHome()">Welcome {{loggedHuman.first}}!</a></li>
    <li *ngIf="!loggedHuman" class="horizontal-li" style="float:right"><a (click)="redirectLogin()">Login</a></li>
    <li *ngIf="!loggedHuman" class="horizontal-li" style="float:right"><a (click)="redirectSignup()">Sign Up</a></li>
    <li *ngIf="loggedHuman" class="horizontal-li" style="float:right"><a (click)="redirectLogout()">Logout</a></li>
    <li *ngIf="loggedHuman" class="horizontal-li" style="float:right"><a (click)="redirectCart()">Cart</a></li>
</ul>

<nav>
    <ul id="verticle">
        <li class="verticle-li"><a (click)="redirectHome()">Home</a></li>
        <li class="verticle-li"><a (click)="redirectBackpack()">My Backpack</a></li>
        <li *ngIf="loggedHuman" class="verticle-li"><a (click)="redirectAdventure()">Quest!</a></li>
        <li *ngIf="isAdmin" class="verticle-li"><a (click)="redirectAccounts()">View All Accounts</a></li>
        <li *ngIf="isAdmin" class="verticle-li"><a (click)="redirectItemsCatalog()">Items Catalog</a></li>
    </ul>
</nav>
<!-- </div> -->

<div *ngIf="showLogin">
  <div class="center back">
    <h5 class="title text-center">Login</h5>
    <h6 *ngIf="failed" class="custFail"> Inncorrect username or password! </h6>
    <form class="form-signin">
      <div class="">
        <input type="text" id="inputEmail" class="formSign" placeholder="Username" required autofocus [(ngModel)]="username" name="username"> 
      </div>

      <div class="">
        <input type="password" id="inputPassword" class="formSign" placeholder="Password" required [(ngModel)]="password" name="password">
      </div>

      <div class="custom-control mb-3">
        <input type="checkbox" class="" id="customCheck1">
        <label class=" custLabel" for="customCheck1">Remember password</label>
      </div>
      <button class="butn btn-block" type="submit" (click)="login()">Sign in</button>
    </form>
  </div>
</div>

<div *ngIf="showRegister">
  <div class="center back">
    <h5 class="title text-center">Sign Up!</h5>
    <h6 *ngIf="failed" class="custFail"> Username Unavailable! </h6>
    <form class="form-signin">
      <div>
      <input type="text" id="inputEmail" class="formSign" placeholder="Username" required autofocus [(ngModel)]="username" name="username"> 
                  <!-- <label for="inputEmail">Username</label> -->
      </div>
  
      <div>
        <input type="password" id="inputPassword" class="formSign" placeholder="Password" required [(ngModel)]="password" name="password">
                  <!-- <label for="inputPassword">Password</label> -->
      </div>
  
      <div>
        <input type="text" id="firstName" class="formSign" placeholder="First Name" required [(ngModel)]="firstName" name="firstName">
                  <!-- <label for="inputPassword">Password</label> -->
      </div>
  
      <div>
        <input type="text" id="lastName" class="formSign" placeholder="Last Name" required [(ngModel)]="lastName" name="lastName">
                  <!-- <label for="inputPassword">Password</label> -->
      </div>
  
                <!-- <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div> -->
      <button class="butn btn-block" type="submit" id="register_submit">Sign Up!</button>
      </form>
    </div>
</div>