<ul id="horizontal">
        <li class="horizontal-li"><a href="#test">Welcome to the Magic Shop!</a></li>
        <li *ngIf="loggedHuman" class="horizontal-li"><a href="#test">Welcome {{loggedHuman.first}}!</a></li>
        <li class="horizontal-li" style="float:right"><a (click)="redirectLogin()">Login</a></li>
        <li class="horizontal-li" style="float:right"><a (click)="redirectSignup()">Sign Up</a></li>
      </ul>

<nav>
    <ul id="verticle">
        <li class="verticle-li"><a (click)="redirectHome()">Home</a></li>
        <li class="verticle-li"><a href="#news">News</a></li>
        <li class="verticle-li"><a href="#contact">Contact</a></li> 
        <li class="verticle-li"><a href="#about">About</a></li>
    </ul>
</nav>


