<div class="main container">
    <h1>Questing Board</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                <h4>Adventurers Wanted!</h4>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Rat nest beneath Redboard Tavern</td>
            <td>{{percentages[0]}} Success Rate</td>
            <td><button class="btn action-btn" (click)="quest(1)">Begin Quest!</button> </td>
        </tr>
        <tr>
            <td>Local Goblin nest causing issues</td>
            <td>{{percentages[1]}} Success Rate</td>
            <td><button class="btn action-btn" (click)="quest(2)">Begin Quest!</button> </td>
        </tr>
        <tr>
            <td>Troll demanding toll at Tadpole Creek</td>
            <td>{{percentages[2]}} Success Rate</td>
            <td><button class="btn action-btn" (click)="quest(3)">Begin Quest!</button> </td>
        </tr>
        <tr>
            <td>King's Successor Kidnapped!</td>
            <td>{{percentages[3]}} Success Rate</td>
            <td><button class="btn action-btn" (click)="quest(5)">Begin Quest!</button> </td>
        </tr>
        <tr>
            <td>Ancient Wyrm has taken over the capitol</td>
            <td>{{percentages[4]}} Success Rate</td>
            <td><button class="btn action-btn" (click)="quest(8)">Begin Quest!</button> </td>
        </tr>
        <tr>
            <td>The Old Ones have awoken. Put them back to rest.</td>
            <td>{{percentages[5]}} Success Rate</td>
            <td><button class="btn action-btn" (click)="quest(13)">Begin Quest!</button> </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Caution: More dificult Quests give more loot, but are harder to survive!</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
    </table>
</div>
