
<div class="main container">
    <h1>My Cart</h1>
    <table>
        <tr>
            <th>Cart Item ID</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Rarity</th>
            <th>Amount</th>
        </tr>
        <tr *ngFor="let c of cartItems">
            <td> {{ c.cartItemID }} </td>
            <td> {{ c.itemID.name }} </td>
            <td> {{ c.itemID.description }} </td>
            <td> {{ c.itemID.rarity }} </td>
            <td> {{ c.amount }} </td>
        </tr>
    </table>
</div>
