<div class="main container">
    <h1>My Cart</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Description</th>
            <th>Rarity</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of cartItems">
            <td [ngClass]="{'artifact': c.itemID.rarity=='artifact', 'legendary': c.itemID.rarity=='legendary', 'very-rare': c.itemID.rarity=='very rare', 'rare': c.itemID.rarity=='rare', 'uncommon': c.itemID.rarity=='uncommon'}"> {{ c.itemID.name }} </td>
            <td> {{ c.itemID.description }} </td>
            <td [ngClass]="{'artifact': c.itemID.rarity=='artifact', 'legendary': c.itemID.rarity=='legendary', 'very-rare': c.itemID.rarity=='very rare', 'rare': c.itemID.rarity=='rare', 'uncommon': c.itemID.rarity=='uncommon'}"> {{ c.itemID.rarity }} </td>
            <td> {{ c.amount }} </td>
            <td><button class="btn action-btn" (click)="removeAllFromCart(c)">Remove all</button></td>
            <td><button class="btn action-btn" (click)="removeOneFromCart(c)">Remove one</button></td>
        </tr>
    </tbody>
    </table>
    <button class="btn btn-primary" (click)="buyItems()">Buy Items </button>
    <button class="btn btn-danger" (click)="openDialog()">Steal</button>
</div>
