<div class="main container">
    <h1>My Cart</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Description</th>
            <th>Rarity</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of cartItems">
            <td [ngClass]="{'artifact': bp.itemID.rarity=='artifact', 'legendary': bp.itemID.rarity=='legendary', 'very-rare': bp.itemID.rarity=='very rare', 'rare': bp.itemID.rarity=='rare', 'uncommon': bp.itemID.rarity=='uncommon'}"> {{ c.itemID.name }} </td>
            <td> {{ c.itemID.description }} </td>
            <td [ngClass]="{'artifact': bp.itemID.rarity=='artifact', 'legendary': bp.itemID.rarity=='legendary', 'very-rare': bp.itemID.rarity=='very rare', 'rare': bp.itemID.rarity=='rare', 'uncommon': bp.itemID.rarity=='uncommon'}"> {{ c.itemID.rarity }} </td>
            <td> {{ c.amount }} </td>
        </tr>
    </tbody>
    </table>
    <button (click)="openDialog()">Steal</button>
</div>
