.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 }

 .table tr.active td {
    background-color:#123456 !important;
    color: white;
  }

#fire{
   /* position: fixed; */
   color: black;
   background-color: burlywood;

}

#promote{
   /* position: fixed;
   left: 350px; */
   color: black;
   background-color: burlywood;
   
}

#ban{
   /* position: fixed;
   left: 1172px; */
   color: black;
   background-color: burlywood;
   
}


