<div class="center container">
    <table id = "accounts" class="table table-hover">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>RoleID</th>
            <th>Gold</th>
            <th>Perception</th>
            <th>Stealth</th>
            <th>Luck</th>
        </tr>
        <tr *ngFor="let a of accounts;" (click)="setClickedRow(a)" [class.active]="a == selectedRow">
            <td> {{ a.userID }} </td>
            <td> {{ a.username }} </td>
            <td> {{ a.password }} </td>
            <td> {{ a.first }} </td>
            <td> {{ a.last }} </td>
            <td> {{ a.roleID }} </td>
            <td> {{ a.gold }} </td>
            <td> {{ a.perception }} </td>
            <td> {{ a.stealth }} </td>
            <td> {{ a.luck }} </td>
        </tr>
    </table>

    <button type="fire" class="btn btn-danger" style="float: right;" id="fire" (click)="toFired(h)">Fire to Customer</button>
    <button type="promote" class="btn btn-danger" style="float: right;" id="promote" (click)="toPromoted(h)">Promote to Employee</button>
</div>