<div class="main container">
    <h1>Items Catalog</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Description</th>
            <th>Rarity</th>
            <th>Price</th>
            <th><!--empty for formatting purposes--></th>
            <th><!--empty for formatting purposes--></th>
            <th><!--empty for formatting purposes--></th>
            <th><!--empty for formatting purposes--></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td [ngClass]="{'artifact': item.rarity=='artifact', 'legendary': item.rarity=='legendary', 'very-rare': item.rarity=='very rare', 'rare': item.rarity=='rare', 'uncommon': item.rarity=='uncommon'}"> {{ item.name }} </td>
            <td> {{ item.description }} </td>
            <td [ngClass]="{'artifact': item.rarity=='artifact', 'legendary': item.rarity=='legendary', 'very-rare': item.rarity=='very rare', 'rare': item.rarity=='rare', 'uncommon': item.rarity=='uncommon'}"> {{ item.rarity }} </td>
            <td> {{ item.shelfPrice }} </td>
            <td><button class="btn primary-btn" (click)="addItem(item.itemID)">Add</button><td>
            <td><button class="btn action-btn" (click)="removeItem(item.itemID)">Remove</button><td>
        </tr>
    </tbody>
    </table>
</div>